/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Body */
body {
    font-family: 'Arial', sans-serif;
    background: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(33, 150, 243);
    color: white;
}

header .logo h1 {
    font-size: 28px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 0;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: rgb(255, 87, 34);
}

/* Hero Section */
.hero {
    height: 60vh;
    background: rgb(33, 150, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.hero-content h2 {
    font-size: 36px;
    color: white;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero-content p {
    font-size: 20px;
    color: white;
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Sections */
.section {
    padding: 40px 20px;
    text-align: center;
    background: white;
    margin-bottom: 20px;
}

.section h2 {
    font-size:20px;
    color: rgb(33, 150, 243);
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.section p {
    font-size: 18px;
    color: #555;
    max-width: 800px;
    margin: 0 auto;
}

/* Benefits Section - List */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    color: #555;
}

/* Footer */
footer {
    background-color: rgb(33, 150, 243);
    color: white;
    text-align: center;
    padding: 15px;
}

/* Responsiveness */
@media (max-width: 768px) {
    .hero-content h2 {
        font-size: 28px;
    }

    .hero-content p {
        font-size: 18px;
    }

    .section h2 {
        font-size: 28px;
    }

    .section p {
        font-size: 16px;
    }

    ul li {
        font-size: 16px;
    }
}
